<div class="bg-intro" id="home">
      <div class="layer-intro">
        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <h1 class="text-center"><br> Find the right candidate for you</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="arrow-down"></div>


    <!-- PORTFOLIO-->
    <!--===============================================================-->
    <div class="bg-portfolio" id="portfolio">
      <div class="container">

        <div class="row">
          <div class="col-sm-12">
            <h1 class="title">The 2016 President Race</h1>
            <hr>
          </div>
        </div>

        <div class="row row-portfolio">
          <% @candidates.each do |candidate| %>
            <div class="col-sm-3 margin-bottom-xs">
              <a class="lightbox wrapper-portfolio" href="<%= candidate.image %>">
                <img class="img-responsive" src="<%= candidate.image %>" alt="portfolio-1">
                <h3 class="category">More info</h3>
              </a>
        <div class="well well-lg">
              <h2>Name : <a href ="/elections/<%= candidate.id %>"><%= candidate.name %></a></h2>
              <p>Political Party: <%= candidate.party_affiliation %></p>
              <p>Background: <%= candidate.background %></p>
              <input id="accept" name="accept" type="checkbox" value="1"> Compare </input>
            </div>
        </div>
          <% end %>
        </div>
        </div>
      </div>

<h1> Local Elections Race </h1>
 <div class="container-fluid">
  <div class="row">
<form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search for Candidates">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
 </form>
 </div>
 </div>



