<div class="bg-intro" id="home">
  <div class="layer-intro">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h1 class="text-center"><br> Find the right candidate for you</h1>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="arrow-down"></div>


<!-- PORTFOLIO-->
<!--===============================================================-->
<div class="bg-portfolio" id="portfolio">
  <div class="container">

    <div class="row">
      <div class="col-sm-12">
        <h1 class="title">The 2016 President Race</h1>
        <hr>
      </div>
    </div>

    <div class="row row-portfolio">
      <% @candidates.each do |candidate| %>
      <div class="col-md-4 margin-bottom-xs">
       <h4><img class="img-responsive img-centered" src = <%= candidate.image %>></h4>
       <h3 class="category">More info</h3>
       <div class="well well-lg">
        <h4>Name : <a href ="/elections/<%= candidate.id %>"><%= candidate.name %></a></h4>
        <h4>Political Party: <%= candidate.party_affiliation %></h4>
        <input id="accept" name="accept" type="checkbox" value="1"> Compare </input>
      </div>
    </div>
    <% end %>
</div>


<div class="bg-portfolio" id="portfolio">
  <div class="container-local">
    <h1> Local Elections Race </h1>
    <div class="container-fluid">
      <div class="row">
        <form class="navbar-form navbar-left" role="search">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Search for Candidates">
          </div>
          <button type="submit" class="btn btn-default">Submit</button>
        </form>
      </div>
    </div>
  </div>  
</div>

  <div class="row row-portfolio">
    <% @localcandidates.each do |localcandidate| %>
    <div class="col-md-4 margin-bottom-xs">
      <h4><img class="img-responsive img-centered" src = <%= localcandidate.image %>></h4>
      <h3 class="category">More info</h3>
      <div class="well well-lg">
        <h4>Name : <a href ="/localcandidates/<%= localcandidate.id %>"><%= localcandidate.name %></a></h4>
        <h4> Running for : <%= localcandidate.position %></h4>
        <h4>Political Party: <%= localcandidate.party_affiliation %></h4>
        <input id="accept" name="accept" type="checkbox" value="1"> Compare </input>
      </div>
    </div>
    <% end %>
  </div>
  </div>
</div>

