<div class="bg-intro" id="home">
  <div class="layer-intro">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h1 class="text-center"><br> Find the right candidate for you</h1>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="arrow-down"></div>


<!-- PORTFOLIO-->
<!--===============================================================-->
<div class="bg-portfolio" id="portfolio">
  <div class="container">

    <div class="row">
      <div class="col-sm-12">
        <h1 class="title">The 2016 President Race</h1>
        <hr>
      </div>
    </div>

<% @candidates.each_slice(3) do |three_candidates| %>
<div class="row">
  <% three_candidates.each do |candidate| %>
    <div class="col-md-4">
      <div class="well">
        <div class="img-container">
          <img src="<%= candidate.image %>">
        </div>
        <h4>Name : <a href="/elections/<%= candidate.id %>"><%= candidate.name %></a></h4>
        <h4>Political Party: <%= candidate.party_affiliation %></h4>
      </div>
    </div>
  <% end %>
</div>
<% end %>

<div class="bg-portfolio" id="portfolio">
  <div class="container-local">
    <h1 class="title"> Local Elections Race </h1>
    <div class="container-fluid">
      <div class="row">
        <form class="navbar-form navbar-left" role="search">
          <div class="form-group">
          </div>
        </form>
      </div>
    </div>
  </div>  
</div>

<% @localcandidates.each_slice(3) do |three_localcandidates| %>
<div class="row">
  <% three_localcandidates.each do |localcandidate| %>
    <div class="col-md-4">
      <div class="well">
        <div class="img-container">
          <img src="<%= localcandidate.image %>">
        </div>
        <h4>Name : <a href="/localcandidates/<%= localcandidate.id %>"><%= localcandidate.name %></a></h4>
        <h4> Running for : <%= localcandidate.position %></h4>
        <h4>Political Party: <%= localcandidate.party_affiliation %></h4>
      </div>
    </div>
  <% end %>
</div>
<% end %>


  </div>
</div>

