
  <h4><img src = <%= @localcandidate.image %>></h4>
  <h4> Name : <%= @localcandidate.name %></h4>
  <h4> Party Affiliation : <%= @localcandidate.party_affiliation %></h4>
  <h4> Experience : <%= @localcandidate.experience %></h4>
  <a href="/elections"> Back to all candidates</a>

  <%= form_tag '/ballotcandidates', method: :post do %>
  <div>
   <%= hidden_field_tag :local_candidate_id, @localcandidate.id  %>
  </div> 
  <div>
   <%= submit_tag "Add Candidate to Ballot" %>
<% end %>  

 <div class="bg-skills" id="skills">
      <div class="container">

        <div class="row">
          <div class="col-sm-6 margin-bottom-xs">
            <h2>Background</h2>
            <p>
              <h3><%= @localcandidate.background %></h3>
            </p>
          </div>
          <div class="col-sm-6">
            <h4>Individual Issues</h4>
            <div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%">
                <span class="sr-only"></span>
              </div>
            </div>
            <h4>Domestic Issues</h4>
            <div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%">
                <span class="sr-only"></span>
              </div>
            </div>
            <h4>Defense Issues</h4>
            <div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                <span class="sr-only"></span>
              </div>
            </div>
            <h4>Economic Issues</h4>
            <div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%">
                <span class="sr-only"></span>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
