



<!-- Wrap Bootstrap -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="shortcut icon" href="/assets/images/favicon.ico">
  <title>Numo | Flat Portfolio</title>
  <script src="https://www.google.com/jsapi"></script> 
  <%= javascript_include_tag "https://www.google.com/jsapi" %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <!-- CSS -->
  <!--===============================================================-->
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
  <link href="https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  <link href="/assets/css/theme.css" rel="stylesheet">
  <link href="/assets/css/magnific-popup.css" rel="stylesheet">
  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
      <%= csrf_meta_tags %>
    </head>
    <body>

      <!-- NAVBAR-->
      <!--===============================================================-->
      <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" data-scroll href="/elections"> <img src="/assets/images/myBallot_logo.jpg" alt="logo"></a>
          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="/quizzes">Take the Quiz</a></li>
              <li><a href="/ballotcandidates">Find Polling Location</a></li>
              <% if current_user == nil %>
              <li><%= link_to "Log in", "/users/sign_in" %></li>
              <li><%= link_to "Sign up", "/users/sign_up" %></li>
              <% else %>  
              <li>
                <%= link_to "/users/sign_out", method: :delete do %>
                <span class="contact">Log out</span>
                <% end %>
              </li>
              <% end %> 
            </ul>
          </div>
        </div>
      </div>
      <!-- NAVBAR-->

      <!-- INTRO-->
      <!--===============================================================-->

      <%= yield %>

      <!-- PORTFOLIO-->
      <!--===============================================================-->



      <!-- FOOTER-->
      <!--===============================================================-->
      <div class="bg-footer">
        <div class="container">
          <div class="row text-center">
            <div class="col-sm-12">
              <a href="#"><i class="fa fa-facebook"></i></a>
              <a href="#"><i class="fa fa-twitter"></i></a>
              <a href="#"><i class="fa fa-dribbble"></i></a>
              <a href="#"><i class="fa fa-tumblr"></i></a>
            </div>
          </div>
        </div>
      </div>

      <!-- FOOTER-BOTTOM-->
      <!--===============================================================-->
      <div class="bg-footer-bottom">
        <div class="container">
          <div class="row">
            <div class="col-sm-6">
              <p class="copyright">2014 &copy; Mamoot Studio - All Rights Reserved</p>
            </div>
            <div class="col-sm-6">
              <ul class="list-inline pull-right">
                <li class="border-right"><a href="#home" data-scroll></a></li>
                <li class="border-right"><a href="#portfolio" data-scroll></a></li>
                <li class="border-right"><a href="#skills" data-scroll></a></li>
                <li><a href="#services" data-scroll></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <!-- JAVASCRIPT-->
      <!--===============================================================-->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
      <script src="/js/bootstrap.min.js"></script>
      <script src="/assets/js/jquery.magnific-popup.min.js"></script>
      <script src="/assets/js/smooth-scroll.js"></script>
      <script src="/assets/js/jRespond.min.js"></script>
      <script src="/assets/js/script.js"></script>
    </body>
    </html>
